.data__input {
    background-color: #000000;
    border: none;
    outline: none;
    border-bottom: 2px solid #CCCCCC;
    margin: 0 0 5px 0;
    padding: 0 0 13px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: border-bottom 0.5s ease-in-out;
}

.data__input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}

.data__input:-webkit-autofill,
.data__input:-webkit-autofill:hover,
.data__input:-webkit-autofill:focus,
.data__input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

.data__input:-webkit-autofill
{
    -webkit-text-fill-color: white !important;
}