.header__close-button {
    background: url("../../../images/CloseIcon.svg") center no-repeat;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    margin-right: 30px;
    transition: opacity 0.3s;

}

.header__close-button:hover {
    opacity: 0.5;
    cursor: url("../../../images/cursor.png"), auto;
}

@media(min-width: 501px) {
    .header__close-button {
        visibility: hidden;
    }
}



