.header__email {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 24px;
}

@media(max-width: 500px) {
    .header__email {
        display: none;
        margin: 0 0 18px 0;
    }
}